<h1 class="prof">PORTOFOLIO</h1>
<div class="d-flex justify-content-around w-25 m-auto">
    <div class="custom-line"> </div>
    <div><i class="fas fa-star fw-bolder"></i></div>
    <div class="custom-line"></div>
</div>
<div class="container mb-5 mt-5">
    <div class="row g-md-5">
        <div class="col-md-4">
            <img src="assets/img/cabin.png" alt="" class="w-100 border-0 rounded-2" />
        </div>
        <div class="col-md-4">
            <img src="assets/img/cake.png" alt="" class="w-100 border-0 rounded-2" />
        </div>
        <div class="col-md-4">
            <img src="assets/img/game.png" alt="" class="w-100 border-0 rounded-2" />
        </div>

        <div class="col-md-4">
            <img src="assets/img/safe.png" alt="" class="w-100 border-0 rounded-2" />
        </div>
        <div class="col-md-4">
            <img src="assets/img/circus.png" alt="" class="w-100 border-0 rounded-2" />
        </div>
        <div class="col-md-4">
            <img src="assets/img/submarine.png" alt="" class="w-100 border-0 rounded-2" />
        </div>

    </div>

</div>