
<section class="header">
    <div class=" w-100 text-center">
        <img src="assets/img/avataaars.svg" alt="try again with the link" class="w-25 m-auto mt-5 mb-3" />
        <h1 class=" text-white tit">START ANGULAR </h1>
        <div class="d-flex justify-content-around w-50 m-auto">
            <div class="custom-line"></div>
            <div class="divider"> <i class="fas fa-star text-white "></i></div>
            <div class="custom-line"></div>
        </div>
        <h4 class=" text-white text-center">Graphic Artists - Web Designer - Illustrator</h4>
    </div>
</section>
