
.divider {
    font-size: 2rem;
}
.custom-line {
    margin: 30px 15px;
    width: 30%;
    height: 3px;
    background-color: white;
}
.header {
    background-color: rgb(65, 186, 168);
    height: 100vh;
   padding-bottom: 30px;
}
.tit{
    font-size: 5rem;
}