.Nav {
    background-color: rgb(52, 56, 62) !important;
    font-weight: bolder;
    color: white;
    padding: 20px;
}
.test{
    background-color: rgb(93, 194, 160);
    border: 1px solid rgb(93, 193, 160) ;
    border-radius: 15%;
    color: white;
}